---
layout: default
title: "CADE Speaker Series"
---

<div class="row">
  <div class="col">
    <h2>Speaker series on Data Ethics</h2>
  </div>
</div>


<table class="table">
  <thead>
    <tr class="d-flex">
      <th class="col-4 col-sm-4 col-md-3 col-lg-3 col-xl-2">date</th>
      <th class="col col-sm-8 col-md-3 col-lg-3">name</th>
      
      <th class="col-md-6 d-none col-lg-6 d-md-block">title</th>
    </tr>
  </thead>
  <tbody>
    {% for speaker in site.talks %}

      <tr class="d-flex">
        <td class="col-4 col-sm-4 col-md-3 col-lg-3 col-xl-2">
            {% if speaker.speaker_info %}
              <a href="{{speaker.url}}">
            {% endif %}
                <span class="d-block d-sm-none">
                  {{speaker.slug | date: "%B %d"}}
                </span>
                <span class="d-none d-sm-block">
                  {{speaker.slug | date: "%B %d %Y"}}
                </span>
            {% if speaker.speaker_info %}
              </a>
            {% endif %}
        </td>
        <td class="col col-sm-8 col-md-3 col-lg-3" >
          {{speaker.speaker_info | map: "speaker_name" | array_to_sentence_string }}
        </td>
        <td class="col-md-6 d-none col-lg-6 d-md-block">
          {{speaker.speaker_info | map: "talk_title" | array_to_sentence_string }}
      
        </td>
      </tr>
    {% endfor %}
  </tbody>
</table>


<div class="row">
<div class="col">
  Found a problem? Contact <a href="/contact">the series organizer</a>
</div>
</div>