<!doctype html>
<html lang="en">
  {% include head.html %}
  <body>

    <div class="container-fluid">
      
      <div class="row">
        <div class="col-sm-12 col-lg-10 offset-lg-1">
          <div class="row">
            <div class="col">
              <div class="header">
                <div class="row">
                  <div class="col">
                    <h1><a class="text-white" href="/{{site.cadeprefix}}">Center for Applied Data Ethics</a></h1>
                  </div>
                  <div class="col-4 text-right">
                    <h5><a class="text-white" href="https://usfca.edu">University of San Francisco</a></h5>
                  </div>
                </div>
              </div>
            </div>
          </div>
          
          <div class="row">
            <div class="col-12">
              {{ content }}
            </div>
          </div>
          
        </div>
      </div>
    </div>
  </body>
</html>